.App {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  text-align: center;

  h1 {
    color: $color-secondary;
    font-family: $font-bold;
    font-size: 3rem;
    margin: 0;
    padding-right: 20px;
    text-align: right;
    text-transform: uppercase;
  }

  img {
    margin-top: 40px;
  }
}
