.App {
  background-color: #fafafa;
  display: grid;
  grid-template-rows: 64px 1fr;
  min-height: 100vh;
  text-align: center;

  h1 {
    color: $color-secondary;
    font-family: $font-bold;
    font-size: 2.3rem;
    margin: 0;
    padding-right: 20px;
    text-transform: uppercase;
  }

  h2 {
    font-family: $font-bold;
    color: $color-secondary;
    height: 30px;
  }

  .App--img {
    margin-top: 40px;
    height: 500px;
  }
}
