.Availability {
  color: $color-secondary;
}

.Availability--h2 {
  font-family: $font-bold;
  margin: 20px 10px;
}

.Availability--table {
  margin: auto;
  padding: 24px 130px 24px 0;

  th {
    padding: 0 5px;
  }

  td {
    width: 215px;
    height: 38px;
    padding: 0;
  }

  .row-name {
    min-width: 130px;
    padding: 0 5px;
  }
}

.button--availability {
  @include button-style();
  font-family: $font-medium;
  box-shadow: none;
  height: 30px;
  margin: 5px;
  width: 200px;

  &:hover {
    box-shadow: none;
  }
}

.button--true {
  @extend .button--availability;
  background-color: $color-primary;
}

.button--false {
  @extend .button--availability;
  background-color: tomato;
}

#set--button,
#edit--button,
#skip--button,
#cancel--button {
  @include button-style();
  background-color: $color-primary;
  font-family: $font-medium;
  height: 30px;
  margin: 5px;
  width: 200px;
}

#skip--button,
#cancel--button {
  background-color: $color-accent;
}

@media screen and (max-width: 915px) {
  .Availability--table {
    margin: auto;
    padding: 24px 0px 24px;
  }
}

@media screen and (max-width: 785px) {
  .button--availability {
    width: 120px;
  }
}

@media screen and (max-width: 560px) {
  .button--availability {
    width: 30px;
  }

  .Availability--table {
    .row-name {
      min-width: 30px;
    }
  }
}

@media screen and (max-width: 420px) {
  .Availability--div-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}