.ConfirmCard {
  font-family: $font-medium;
  button {
    @include button-style();
    background-color: $color-primary;
    font-family: $font-medium;
    height: 30px;
    width: 200px;
    margin: 5px;
  }

  input {
    display: block;
    margin: 15px auto;
    width: 250px;
  }

  .ConfirmCard--div-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .ConfirmCard--button--cancel {
    background-color: $color-accent;
  }
}
