.Confirmation {
  width: 90%;
  margin: auto;
}

.ConfirmCard {
  font-family: $font-medium;
}

.ConfirmCard--button--confirm,
.ConfirmCard--button--cancel {
  @include button-style();
  background-color: $color-primary;
  font-family: $font-medium;
  height: 30px;
  width: 200px;
  margin: 5px;
}

.ConfirmCard--input {
  display: block;
  margin: 15px auto;
  width: 250px;
  outline: none;
}

.ConfirmCard--div-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ConfirmCard--button--cancel {
  background-color: $color-accent;
}