.Header {
  background-color: #12f1fc;
  display: flex;
  justify-content: space-between;
  font-family: $font-medium;
  font-size: 1.2rem;
  text-transform: uppercase;
  box-shadow: $heavy-shadow;
}

.Header--h1 {
  color: $color-secondary;
  font-family: $font-bold;
  font-size: 2.2rem;
  margin: 0;
  padding-right: 20px;
  text-transform: uppercase;
}

.Header--link,
.Header--h1--link,
.Header--github-link {
  text-decoration: none;
  margin: auto 20px auto 0;
}

.Header--link {
  color: $color-secondary;
  border-bottom: 2px solid transparent;
  transition-duration: 0.3s;
  &:hover {
    border-bottom: 2px solid $color-secondary;
  }
}

.Header--controls {
  margin: 8px 20px;
}

.Header--button--signout {
  @include button-style();
  background-color: $color-primary;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  font-family: $font-medium;
  display: inline-block;
  height: 27px;
  width: 91px;
  padding: 0;
  margin-left: 0;
  margin-right: 20px;
  text-transform: uppercase;
  color: $color-secondary;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid $color-secondary;
    box-shadow: none;
  }
}

.Header--github-link {
  font-size: 0.8rem;
  margin: 0;
  text-transform: none;
}

.Header--div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: flex-start;
  margin-bottom: 5px;
}

.Header--image {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin: auto;
  vertical-align: middle;
  cursor: pointer;
}

.Header--dropdown {
  @extend .HamburgerMenu--dropdown;
  height: 81px;
  width: 162px;
}