.Profile--form {
  color: $color-secondary;
  width: 320px;
  margin: 20px auto;

  label {
    padding-left: 4px;
    width: 280px;
  }
}

.Profile--asterisk,
.Dropdown--asterisk {
  color: tomato;
  margin-left: 3px;
}

.Profile--div {
  margin: auto;
  width: 300px;
}

.Profile--h2 {
  font-family: $font-bold;
  margin: 0;
  font-size: 1.2rem;
}

.Profile--button {
  @include button-style();
  background-color: $color-primary;
  font-family: $font-bold;
  height: 40px;
  margin: auto;
  width: 120px;
}

.Profile--input {
  margin-bottom: 10px;
  padding: 3px 5px;
  outline: none;
  width: 280px;
  border: 1px solid $color-secondary;
  border-radius: 6px;
}

.Profile--input-slack {
  margin: 0;
}

.Profile--div--flex {
  display: flex;
  flex-direction: column;
  font-family: $font-light;
  margin-bottom: 0;
  text-align: left;
  padding: 10px 10px 0;
}

.Profile--Dropdown {
  @extend .Dropdown--select;
  width: 280px;
}

.Profile--message {
  margin-top: 0;
  height: 16px;
}