.Profile--form {
  color: $color-secondary;
  width: 1000px;
  margin: 20px auto;

  span {
    color: tomato;
    margin-left: 3px;
  }

  .Profile--div {
    margin: auto;
    width: 500px;
  }

  h2 {
    font-family: $font-bold;
    margin: 0;
  }

  .Profile--button {
    @include button-style();
    background-color: $color-primary;
    font-family: $font-bold;
    height: 40px;
    margin: auto;
    width: 120px;
  }

  input {
    margin-bottom: 10px;
  }
}

.Profile--div--flex {
  display: flex;
  flex-direction: column;
  font-family: 'Cereal-med';
  margin-bottom: 10px;
  padding-left: 4px;
  text-align: left;
  padding: 10px;
}
