.RockListing {
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RockListing--h2 {
  font-family: $font-bold;
}

.RockListing--avail-btn {
  @include button-style();
  background-color: $color-primary;
  height: 30px;
  margin-top: 10px;
  width: 220px;

  &:disabled {
    background-color: $color-accent;
  }
}

.RockListing-error {
  font-family: $font-medium;
  max-width: 460px;
  margin: 30px auto;
  line-height: 22px;
  padding: 0 10px;
}

.RockListing--section {
  display: flex;
  font-family: $font-light;
  justify-content: center;
}

@media screen and (max-width: 740px) {
  .RockListing--section {
    flex-direction: column;
    align-items: center;
  }
}

.RockListing--explanation {
  margin: 5px 10px;
  max-width: 600px;
}

.light {
  font-family: $font-light;
}