.ScheduleCard {
  font-family: $font-medium;
  border: 2px solid $color-primary;
  box-shadow: $light-shadow;
  margin: 10px;
  padding: 0 16px;
  text-align: left;
  width: 300px;
  word-break: break-word;
  color: $color-secondary;
  border-radius: 10px;
}

.ScheduleCard--name {
  color: $color-secondary;
}

.ScheduleCard--p {
  color: $color-secondary;
  font-family: $font-light;
  margin: 10px 0;
}

.ScheduleCard--button {
  @include button-style();
  background-color: $color-secondary;
  font-family: $font-medium;
  font-size: 12px;
  display: block;
  margin: 10px auto;
  height: 25px;
  width: 80px;
  color: $color-accent;
}

.ScheduleCard--date {
  background-color: $color-accent;
  font-family: $font-medium;
  padding: 5px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.ScheduleCard--time {
  background-color: $color-accent;
  font-family: $font-medium;
  padding: 5px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 5px;
  border-radius: 10px;
}

.TemplateCard {
  text-align: center;
}