.Schedule {
  .Schedule-h2 {
    color: $color-secondary;
    font-family: $font-bold;
    margin-left: 20px;
    text-align: left;
  }
  .ScheduleCards--div {
    display: flex;
    justify-content: space-evenly;

    h2 {
      color: $color-secondary;
      font-family: $font-medium;
      text-transform: uppercase;
    }
  }
}
