.ScheduleCard {
  font-family: $font-medium;
  border: 2px solid $color-primary;
  box-shadow: 1px 1px 1px 1px #aeaeae;
  margin: 10px 0;
  padding: 0 15px;
  text-align: left;
  max-width: 407px;
  word-break: break-all;

  h3 {
    color: $color-secondary;
  }

  p {
    color: $color-secondary;
    font-family: $font-light;
    margin: 10px 0;
  }

  button {
    @include button-style();
    background-color: $color-secondary;
    font-family: $font-medium;
    font-size: 12px;
    display: block;
    margin: 10px auto;
    height: 25px;
    width: 80px;
    color: $color-accent;
  }

  .ScheduleCard--date {
    background-color: $color-accent;
    font-family: $font-medium;
    padding: 5px;
    text-align: center;
  }
}
