.SignIn--div {
  button {
    @include button-style();
    background-color: $color-primary;
    font-family: $font-bold;
    display: block;
    margin: 20px auto 0;
    height: 30px;
    width: 200px;
    color: $color-secondary;
  }
}

.SignIn--img {
  height: 500px;
  margin-top: 40px;
}