.StudentCard {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  .StudentCard--div--cols {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    p,
    h3 {
      margin: 5px;
    }

    h3 {
      display: inline-block;
      font-family: $font-medium;
    }

    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin: auto;
      display: block;
    }

    .StudentCard-pronouns,
    .StudentCard-skills {
      font-family: $font-light;
    }
  }

  .StudentCard--div--rows {
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;

    .StudentCard-time-text {
      font-family: $font-light;
    }

    button,
    p {
      height: 30px;
      width: 140px;
      margin: 0 10px;
    }

    button {
      background-color: $color-primary;
      border-radius: 10px;
      cursor: pointer;
      font-family: $font-bold;
    }

    p {
      font-family: $font-medium;
      text-transform: uppercase;
    }
  }
}
