@font-face {
  font-family: 'Cereal-bold';
  src: url(./AirbnbCereal-ExtraBold.ttf);
}

@font-face {
  font-family: 'Cereal-light';
  src: url(./AirbnbCereal-Light.ttf);
}

@font-face {
  font-family: 'Cereal-med';
  src: url(./AirbnbCereal-Medium.ttf);
}

$font-light: 'Cereal-light';
$font-medium: 'Cereal-med';
$font-bold: 'Cereal-bold';
$color-primary: #12f1fc;
$color-secondary: #575a89;
$color-accent: #eee;
$heavy-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$light-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
